<!-- Include this file if you want to deploy app to the Azure App Service -->
<configuration>
   <system.webServer>
      <staticContent>
         <remove fileExtension=".dll"/>
        <remove fileExtension=".json"/>
        <remove fileExtension=".wasm"/>

         <mimeMap fileExtension=".dll" mimeType="application/x-msdownload" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      </staticContent>
   </system.webServer>
</configuration>